.center {
  margin: 0px auto;
}

.elem-center {
  text-align: center;
}

.w600 {
  width: 854px;
}

.mesh {
  position:absolute;
  top:480px;
  color:white;
  font-weight:bold;
  font-size:40pt;
  width:854px;
}

.simd {
  position:absolute;
  top:80px;
  color:white;
  font-weight:bold;
  font-size:40pt;
  width: 854px;
}

.loading {
  position:absolute;
  top:280px;
  color:white;
  font-weight:bold;
  font-size:40pt;
  width: 854px;
}

.author0 {
  font-size:8pt;
  position:absolute;
  bottom:0px;
  right:0;
}

.author1 {
  font-size:8pt;
  position:absolute;
  bottom:-15px;
  right:0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-large {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn {
  width: 145px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
}

.btn-narrow {
  width: 70px;
}

.btn-disable,.btn-disable:hover,.btn-disable:active,.btn-disable:focus
{
  background-color: #808080;
  border-color: #808080;
}

button {
  -webkit-appearance: button;
  font: -webkit-small-control;
  font-family: inherit;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#webgl-canvas {
    display: block;
    margin: auto;
    position: relative;
    width: 854px;
    height: 480px;
    background-color: #330000; /* Will display red background if something went wrong during context creation */
}

#stats {
    position: absolute;
    top: 5px;
    left: -15px;
}

#targetFpsInput {
  font-size: 18px;
  background-color: transparent;
  text-align: center;
  border-width: 0;
  width: 3em;
  color: #000;
}

#autoBtn {
  width: 200px;
}

#targetFpsInputLable {
  font-size: 18px;
}